[project]
	description = "test  repository for send telemetry to App Insighits"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kobbi401
[access "refs/for/refs/*"]
	read = group user/kobbi401
	push = group user/kobbi401
	label-Code-Review = -2..+2 group user/kobbi401
	label-Verified = -1..+1 group user/kobbi401
	rebase = group user/kobbi401
	removeReviewer = group user/kobbi401
	submit = group user/kobbi401
[access "refs/heads/*"]
	read = group user/kobbi401
	create = group user/kobbi401
	push = +force group user/kobbi401
	pushMerge = group user/kobbi401
[access "refs/tags/*"]
	push = +force group user/kobbi401
	pushTag = group user/kobbi401
	pushSignedTag = group user/kobbi401
